@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	outline: none;
}

@layer base {
  @font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  };
};

@layer components {
	.button {
		@apply px-4 py-2 border rounded-full cursor-pointer 
		hover:shadow-lg active:scale-95 active:bg-gray-100 
		transition transform duration-100 ease-out select-none;
	};
};
